.form-select{
    width:200px;
}
.gdesign, .design{
    background-color:aqua;
    padding:1rem;
}
.gdev, .dev{
    background-color: aquamarine;
    padding:1rem;
}
.operational{background-color:deeppink;padding:1rem;}
.operational h3, .operational p, .operational{color:#fff;}
.sectionhead{
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 1px dashed #333;
}

.form-control, .btn{
    padding-top:3px;
    padding-bottom:3px;
}
.Gtotal, .DPtotal, .DBtotal{
    color: red;
}
.totalsum, .totalhours, .Grandtotal{
    color: rgb(0, 136, 25);
}
.Grandtotal{font-size:1.2rem;font-weight:900;color: red;}
.totalsum, .totalhours{font-weight: 900;}
/* Style R before the input fields  ------------------ */
.col-6{
    position: relative;
}
.gdev span.rand, .gdesign span.rand{
    position: absolute;
    top:28px;
    left:14px;
    display:block;
    z-index: 99;
    height:20px;
    width:20px;
}
.dev span.rand, .design span.rand, .operational span.rand{
    position: absolute;
    top:4px;
    left:14px;
    display:block;
    z-index: 99;
    height:20px;
    width:20px;
    color:#000;
}
.extra span.rand, .extra span.rand{
    top:28px;
}